<div class="waterfall">
	<h1>Home#index</h1>
	<p>Find me in home/index.html.erb</p>
</div>

<h3>Hello from Plumber</h3>
<p><%= @hello %></p>
<p>sum: <%= @sum %></p>
<%= @sum[0]["sum"] %>

<%= @viridis.html_safe %>
